<div class="menu-container">
  <nav>
    <div class="routes">
      <a routerLink="/overview">
        <h2>Overview</h2>
      </a>
      <a routerLink="/footprint">
        <h2>Footprint</h2>
      </a>
      <a routerLink="/machines">
        <h2>Machines</h2>
      </a>
      <a routerLink="/plans">
        <h2>Plans & Insights</h2>
      </a>
      <a routerLink="/reporting">
        <h2>Reporting</h2>
      </a>
    </div>

    <div class="footer">
      <a routerLink="/import">
        <mat-icon>import_export</mat-icon>
        <h2>Import data</h2>
      </a>
      <a routerLink="/configure">
        <mat-icon>settings</mat-icon>
        <h2>Configure</h2>
      </a>
    </div>
  </nav>
</div>
