<div class="optimizer-container">
  <div class="content-container">
    <div class="insights-container">
      <div class="title">
        <mat-icon>highlight</mat-icon>
        <h1>Insights & Suggestions</h1>
      </div>

      <div class="insight">
        <div class="insight-explanation">
          <h3>Demand</h3>
          <p>Reduce load</p>
        </div>
        <div class="impact">
          <h3>Estimated impact</h3>
          <p>-1989 kg CO2e per year</p>
          <p>$-121k energy cost per year</p>
        </div>
      </div>
    </div>

    <div class="carbon-reduction-container">
      <div class="title">
        <mat-icon>library_books</mat-icon>
        <h1>Carbon Reduction Plans</h1>
      </div>

      <div class="carbon-plan">
        <p>Current plan:</p>
        <button mat-raised-button>Create new...</button>
      </div>
      <div class="plan-impact">
        <h3>Plan estimated impact:</h3>
      </div>
      <div class="plan-action">
        <h3>Plan actions:</h3>
        <div class="action-card">
          <div class="action">
            <h3>Load redistribution action</h3>
            <p>Shift 20%</p>
          </div>
          <div class="contribution">
            <h3>Estimated contribution</h3>
            <p>-1162 kg CO2 e/yr</p>
            <p>-$99 energy cost /yr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
